#page-landing {
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%) no-repeat;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#container {
  margin: auto;
  width: min(90%, 112rem); /*112rem é o mesmo que 1120px - delimita a div*/
}

.location, h1, .visit p {
  height: 14vh; /*era 16vh*/
}

.visit a {
  width: 8rem;
  height: 8rem;
  background: #ffd666;
  border: none;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  transition: background 200ms;
  animation-delay: 250ms;
}

.visit a:hover {
  background: #96feff;
}

/*animações*/

#logo {
  animation-delay: 50ms;
}

.location {
  animation-delay: 100ms;
}

main h1 {
  font-size: clamp(4rem, 8vw, 8.4rem); /*primeiro atributo é o min em que pode chegar, o segundo atributo é o padrão que você quer, o terceiro atributo éo máx em que ele pode chegar*/
  animation-delay: 150ms;
}

.visit p {
  animation-delay: 200ms;
}

/*desktop version*/

@media (min-width: 760px) { /*essa versão de desktop só funciona se a tela em que será aberto o app tiver no min 760 de width*/
  
  #container {
    padding: 5rem 2rem; /*ajuda a não cortar a imagem*/
    /*shorthand background: image repeat position / size*/
    background: url("../images/bg.svg") no-repeat 80% / clamp(30rem, 54vw, 56rem);

  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between; /*joga cada um dos elementos para lados opostos dentro da div*/
  }
  
  .location, h1, .visit p {
    height: initial;
    text-align: initial; /*alinha o logo com o txt happy com o h1*/
  }

  .location {
    text-align: right;
    font-size: 2.4rem;
    line-height: 1.5;
  }

  main h1 {
    font-weight: bold;
    line-height: .88;
    margin: clamp(10%, 9vh, 12%) 0 4rem; /*mudei aqui - (10%, 9vh, 12%) 0 4rem */
    width: min(300px, 80%);
  } 
}

.visit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visit p {
  font-size: 2.4rem;
  line-height: 1.5;
  width: clamp(20rem, 20vh, 30rem);
}

.visit a {
  margin: initial;
}